html {
    font-size: 100px;
    width: 100vw;
    height: 100vh;
    body {
        font-size: .14rem;
        width: 100%;
        background: url(../images/1-1.jpg) no-repeat;
        background-size: 100% 100%;
        text-align: center;
        .content {
            margin: 1.3rem 0 0 0;
        }
        .btn {
                // margin-left: 40%;
                // margin-top: -5%;
                .btn_style {
                    display: inline-block;
                    width: 1rem;
                    height: .5rem;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
                .home_btn {
                    background-image: url(../images/1-4.png);
                }
                .next_btn {
                    background-image: url(../images/2-2.png);                    
                }
                .submit_btn {
                    background-image: url(../images/3-1.png);                    
                }
                .share_btn {
                    width: 1.5rem;
                    height: .6rem;
                    background-image: url(../images/4-3.png);
                }
        }
        .logo_style{
            width: 95%;
            height: 4rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .home_logo {
            height: 50%;
            // background-image: url(../images/1-2.png);            
        }
        .item_logo {
            background-image: url(../images/2-1.png);
            
        }
        .item_list {
            color: #fff;
            padding-top: .6rem;
            margin-left: -.5rem;
            .item_title {
              font-size: .25rem;
            }
            ul {
                margin-top: .1rem;
                text-align: left;
                li {
                    list-style: none;
                    line-height: .4rem;
                    padding-left: 40%;
                    .opt_prefix {
                        text-align: center;
                        display: inline-block;
                        width: .2rem;
                        height: .2rem;
                        line-height: .2rem;
                        border-radius: .1rem;
                        border: 1px solid #ccc;
                        margin-right: .1rem;
                    }
                    &.active {
                        .opt_prefix {
                            color: #000;
                            background-color: #1fc7f7;
                        }
                        .opt_detail {
                            color: #1fc7f7;
                        }
                    }
                }
            }
        }
        .showScore {
            margin: .5rem auto;
            width: 3rem;
            height: 3rem;
            background: url(../images/4-2.png) no-repeat;
            background-size: 100% 100%;
            .info {
                position: relative;
                top: 1.5rem;
                margin-left: .2rem;
                .finalScore {
                    color: #b92d0b;
                    font-weight: bold;
                    font-size: .4rem;
                    margin-left: .3rem;
                }
            }
        }
    }
}